.note {
    padding: 25px;
    height: 280px;
    width: 260px;
    display: flex;
    flex-direction: column;
    background-color: lightblue;
    border-radius: 30px;
}

.note-text {
    flex: 1;    /* textarea jitni space bachi h wo saari le lega */
    resize: none;
    background-color:transparent;
    font-size: 1rem;
    line-height: 1.875rem;
    outline: none;
    border: none;
}