.note-container{
    height: 100%;
}

.note-container h2{
    margin-bottom: 20px;
}

.note-container-header{
    display: flex;
    gap: 90px;
    margin-bottom: 20px;
}

.note-container-notes{
    height: 90%;       /* for our custom scroll bar for notes only we don't want to scroll the whole App*/
    display: flex;
    flex-wrap: wrap;   /* to prevent from overflow */
    gap: 20px;

    /* for our custom scroll bar */
    overflow-y: scroll;
}