.sidebar{
    display: flex;
    flex-direction: column;
    gap:30px;
}
.sidebar img{
    width: 60px;
    cursor: pointer;
}

.sidebar-list{
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;

    /* we want that when we click on Add button the color pallete toggles up */
    height: 0;
    transition: 300ms;
}
.sidebar-list-active{
    height: 300px;
}

.sidebar-list-item{
    cursor: pointer;
    border-radius: 50%;
    height: 20px;
    width: 20px;
    list-style: none;
}

[data-theme="dark"] .addIcon {
    filter: invert(1);
}